*{margin:0;padding:0;}*:focus,:active{outline:0;}
body{font:0.8em Verdana, Georgia, "Times New Roman", Sans-Serif;background:#fff url(../images/bg.gif) repeat-x;color:#333;}
a{color:#A82A15;text-decoration:none;}
img{border:0;}
h1{float:left;margin:20px 0 32px;font-size:4em;color:#fff;}
h2{font-size:1.5em;font-weight:normal;margin:0px 0 1px;}
h3{font-size:1.3em;font-weight:bold;margin:0px 0 10px;}
h4{font-size:0.7em;font-weight:bold;margin:0px 0 10px;color:#FF0000;text-decoration:blink;}
h2 a:hover{background:#A82A15;color:#fff;}
.hr{color:#ccc;}
p{font-size:0.8em;margin:5px 0 5px;line-height:1.3em;}
.wartawan{font-size:0.7em;font-weight:bold;color:#707070}
.komentar{font-size:1em;margin-bottom:15px}
.author{font-size:0.8em;font-weight:bold;}
#login{font-size:1em;}
#content{margin:0 auto;width:900px;}
#top{float:right;margin:20px 0 30px 0;}
#top li{list-style:none;display:inline;}
#top li a{float:left;padding:6px 20px 6px 20px;margin:3px 2px 0 0;color:#fff;background:#A82A15;}
#top li a.current{color:#fff;background:#A82A15;}
#top li a:hover{background:#808080;color:#fff;}
#menu{clear:both;float:left;margin:0px 0 10px 0;}
#menu li{list-style:none;display:inline;}
#menu li a{float:left;padding:7px 17px;margin:3px 2px 0 0;color:#fff;background:#A82A15;}
#menu li a.current{color:#fff;background:#A82A15;}
#menu li a:hover{background:#808080;color:#fff;}
#intro{clear:both;padding:10px 10px 10px 10px;border:1px solid #dedede;font-size:1.3em;background:#eee;margin:0 0 30px;}
#intro2{clear:both;}
#left{float:left;width:580px;margin:0 0 15px;background-color:#}
#right{float:right;width:280px;}
#right h3{border-bottom:1px solid #ccc;margin:0 0 10px;}
#right img{margin:0 3px 3px 0;border:2px solid #eee;padding:2px;}
#right li{list-style:none;}
#right li a{display:block;border-bottom:1px solid #ccc;padding:5px 5px;}
#right table{font-size:1em;}
#mid {float:center;width:100%;}
#mid h3{border-bottom:1px solid #ccc;margin:0 0 10px;}
#mid img{margin:0 3px 3px 0;border:2px solid #eee;padding:2px;}
#mid li{list-style:none;}
#mid li a{display:block;border-bottom:1px solid #ccc;padding:5px 5px;}
#mid table{font-size:1em;}
#button{font-size:1.2em;}
#footer{clear:both;padding:15px 0;border-top:1px solid #ccc;font-weight:bold;}
#r{float:right;}
.button{-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;box-shadow:inset 0px 0px 0px 0px #ffffff;background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');background-color:#ededed;border:1px solid #dcdcdc;display:inline-block;color:#777777;font-family:Verdana;font-size:13px;font-weight:bold;padding:5px 15px;text-decoration:none;text-shadow:1px 1px 0px #ffffff;}.button:hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));background:-moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');background-color:#dfdfdf;}.button:active{position:relative;top:1px;}
img.penulis{width:14x;height:14px;background:url(icon.png) -168px 0px;}
img.tanggal{width:14x;height:14px;background:url(icon.png) -48px -23px;}
img.kategori{width:14x;height:14px;background:url(icon.png) 0px -47px;}
img.home{width:14x;height:14px;background:url(icon-white.png) 0px -22px;}
img.template{width:14x;height:14px;background:url(icon-white.png) -96px -22px;}
img.about{width:14x;height:14px;background:url(icon-white.png) 0px -119px;}
img.admin{width:14x;height:14px;background:url(icon-white.png) -168px -0px;}
img.logout{width:14x;height:14px;background:url(icon-white.png) -384px 0px;}